h1.intro{
    text-align: center;
    font-style: oblique;
    color: black




div.size{
    margin: 20px;
    color: green;
}

div.crust{
    margin: 20px;
    color: brown;
}

div.toppings{
    margin: 20px;
    color: darkblue;
}

div.how{
    margin: 20px;
    color: darkorange;
}

div.delivery{
    margin: 30px;
    color: darkslategray;
}

div.submit{
    margin: 40px;
    
}
